body{
    font-family:'Playfair'
}
.img-thumbnail2{
	width: 3%;
	height: 3%;
}

.img{
    width : 50%;
    height : 20%;
}
.navbar-brand{
	font-size: 200%;
} 

.d-flex{
    position: absolute;
  right: 0%;
  width: 30%;
  height: 100%;
  
}
.btn-light{
	font-size: 150%;
	margin-right: 4%
} 

.btn-primary{
	font-size: 200%
}
.navbar-nav .nav-link {
    color: rgba(0,0,0,1) !important;
}

.navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.5) !important;
}
